# Machine Learning Model (All Regression Models)

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [3]:
os.chdir('C:\\Users\\Dell')

In [4]:
os.getcwd()

'C:\\Users\\Dell'

In [5]:
import numpy as np
import pandas as pd

In [6]:
gap=pd.read_csv("GapMinder.csv")
gap.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

# Step 1

In [7]:
X=gap.drop(columns=["fertility"])

In [8]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [9]:
y=gap["fertility"]

In [13]:
y.head()

0    2.73
1    6.43
2    2.24
3    1.40
4    1.96
Name: fertility, dtype: float64

# Rules

In [15]:
X.dtypes

population           int64
HIV                float64
CO2                float64
BMI_male           float64
GDP                  int64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

Use One Hot Encoding Technique

In [16]:
X=pd.get_dummies(X,columns=["Region"],prefix="OH")

In [17]:
X.dtypes

population                         int64
HIV                              float64
CO2                              float64
BMI_male                         float64
GDP                                int64
BMI_female                       float64
life                             float64
child_mortality                  float64
OH_America                         uint8
OH_East Asia & Pacific             uint8
OH_Europe & Central Asia           uint8
OH_Middle East & North Africa      uint8
OH_South Asia                      uint8
OH_Sub-Saharan Africa              uint8
dtype: object

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
X.shape

(139, 14)

In [20]:
gap.isna().sum()

population         0
fertility          0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

# Step 2

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

Feature Scaling on Training Dataset

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
minmax=MinMaxScaler()

In [28]:
X_train_scaled=minmax.fit_transform(X_train)

In [29]:
X_train_scaled=pd.DataFrame(X_train_scaled)

In [30]:
X_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.000888,0.044118,0.407610,0.727960,0.369326,0.681697,0.782609,0.014791,0.0,0.0,1.0,0.0,0.0,0.0
1,0.009076,0.129257,0.001228,0.135028,0.017813,0.587556,0.260870,0.873217,0.0,0.0,0.0,0.0,0.0,1.0
2,0.002039,0.063467,0.137182,0.447517,0.127869,0.445357,0.823370,0.085578,1.0,0.0,0.0,0.0,0.0,0.0
3,0.055294,0.047988,0.119768,0.323915,0.177790,0.167762,0.785326,0.068146,0.0,1.0,0.0,0.0,0.0,0.0
4,0.010726,0.523994,0.004393,0.035460,0.037475,0.848837,0.184783,0.487058,0.0,0.0,0.0,0.0,0.0,1.0

Feature Scaling on Testing Dataset

In [32]:
X_test_scaled=minmax.transform(X_test)

In [33]:
X_test_scaled=pd.DataFrame(X_test_scaled)

In [34]:
X_test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.022289,0.001548,0.139849,0.610842,0.048086,0.387104,0.638587,0.245642,0.0,0.0,1.0,0.0,0.0,0.0
1,0.013067,0.001548,0.460404,0.731226,0.278412,0.643838,0.567935,0.122557,0.0,0.0,1.0,0.0,0.0,0.0
2,0.003398,0.000000,0.165240,0.769133,0.325444,0.731613,0.850543,0.016904,0.0,0.0,1.0,0.0,0.0,0.0
3,0.028570,0.036378,0.011690,0.249073,0.040640,0.693310,0.603261,0.433175,0.0,0.0,0.0,0.0,0.0,1.0
4,0.004209,0.001548,0.332889,0.786143,0.635047,0.513508,0.929348,0.003170,0.0,0.0,1.0,0.0,0.0,0.0

# Step 3 and Step 4 of Different Models

# Decision Tree Regression

In [35]:
from sklearn.tree import DecisionTreeRegressor

In [42]:
tree=DecisionTreeRegressor()

In [43]:
tree.fit(X_train_scaled,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [44]:
tree.score(X_test_scaled,y_test)

0.8654521782060136

# Random Forest Regression

In [45]:
from sklearn.ensemble import RandomForestRegressor

In [46]:
forest=RandomForestRegressor()

In [47]:
forest.fit(X_train_scaled,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [48]:
forest.score(X_test_scaled,y_test)

0.9138501603162537

# AdaBoost Regression

In [49]:
from sklearn.ensemble import AdaBoostRegressor

In [50]:
adaboost=AdaBoostRegressor()

In [51]:
adaboost.fit(X_train_scaled,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

In [52]:
adaboost.score(X_test_scaled,y_test)

0.8791402047640804

# Gradient Boosting Regression

In [53]:
from sklearn.ensemble import GradientBoostingRegressor

In [54]:
gradient=GradientBoostingRegressor()

In [55]:
gradient.fit(X_train_scaled,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [56]:
gradient.score(X_test_scaled,y_test)

0.9062049439535677

# XGBoost Regression

In [ ]:
!pip install xgboost

In [ ]:
from xgboost import XGBRegressor

In [ ]:
xgboost=XGBRegressor()

In [ ]:
xgboost.fit(X_train_scaled,y_train)

In [ ]:
xgboost.score(X_test_scaled,y_test)