# Machine Learning Model (XGBoost Regression)

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [3]:
os.chdir('C:\\Users\\Dell')

In [4]:
os.getcwd()

'C:\\Users\\Dell'

In [5]:
import numpy as np
import pandas as pd

In [6]:
gap=pd.read_csv("GapMinder.csv")

In [7]:
gap.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

# Step 1

In [8]:
X=gap.drop(columns=["fertility"])

In [9]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [10]:
y=gap["fertility"]

In [11]:
y.head()

0    2.73
1    6.43
2    2.24
3    1.40
4    1.96
Name: fertility, dtype: float64

# Rules

In [12]:
X.dtypes

population           int64
HIV                float64
CO2                float64
BMI_male           float64
GDP                  int64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [13]:
X=pd.get_dummies(X,columns=["Region"],drop_first=True,prefix="DM")

In [14]:
X.dtypes

population                         int64
HIV                              float64
CO2                              float64
BMI_male                         float64
GDP                                int64
BMI_female                       float64
life                             float64
child_mortality                  float64
DM_East Asia & Pacific             uint8
DM_Europe & Central Asia           uint8
DM_Middle East & North Africa      uint8
DM_South Asia                      uint8
DM_Sub-Saharan Africa              uint8
dtype: object

In [15]:
type(X)

pandas.core.frame.DataFrame

In [16]:
X.shape

(139, 13)

In [17]:
gap.isna().sum()

population         0
fertility          0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

# Step 2

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

Feature Scaling on Training Dataset

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
minmax=MinMaxScaler()

In [22]:
X_train_scaled=minmax.fit_transform(X_train)

In [23]:
X_train_scaled=pd.DataFrame(X_train_scaled)

In [24]:
X_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.001413,0.961300,0.052134,0.214952,0.105747,0.868372,0.427807,0.322768,0.0,0.0,0.0,0.0,1.0
1,0.006046,0.001548,0.137216,0.762503,0.117780,0.608684,0.748663,0.058109,0.0,1.0,0.0,0.0,0.0
2,0.007728,0.005418,0.133068,0.715549,0.110768,0.682528,0.665775,0.023772,0.0,1.0,0.0,0.0,0.0
3,0.008166,0.000000,0.111814,0.833577,0.181260,0.621209,0.764706,0.023772,0.0,1.0,0.0,0.0,0.0
4,0.000929,0.000000,1.000000,0.959601,1.000000,0.488455,0.941176,0.035922,0.0,0.0,1.0,0.0,0.0

Feature Scaling on Testing Dataset

In [25]:
X_test_scaled=minmax.transform(X_test)

In [26]:
X_test_scaled=pd.DataFrame(X_test_scaled)

In [27]:
X_test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.022289,0.001548,0.091759,0.610842,0.025062,0.378690,0.628342,0.245642,0.0,1.0,0.0,0.0,0.0
1,0.013067,0.001548,0.302084,0.731226,0.145106,0.629844,0.558824,0.122557,0.0,1.0,0.0,0.0,0.0
2,0.003398,0.000000,0.108419,0.769133,0.169618,0.715712,0.836898,0.016904,0.0,1.0,0.0,0.0,0.0
3,0.028570,0.036378,0.007670,0.249073,0.021181,0.678241,0.593583,0.433175,0.0,0.0,0.0,0.0,1.0
4,0.004209,0.001548,0.218417,0.786143,0.330980,0.502347,0.914439,0.003170,0.0,1.0,0.0,0.0,0.0

# Step 3

In [ ]:
!pip install xgboost

In [ ]:
from xgboost import XGBRegressor

In [ ]:
xgboost=XGBRegressor()

In [ ]:
xgboost.fit(X_train_scaled,y_train)

# Step 4

# Evaluate

In [ ]:
xgboost.score(X_test_scaled,y_test)

# Predict

In [ ]:
xgboost.predict(X_test_scaled)